body {
	background-color: #f0f0f5;
	font-family: 'Arial', sans-serif;
}

.container {
	text-align: center;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: 50px auto;
}

.container h1 {
	font-size: 2em;
	color: #333;
}

.slider_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.slider {
	-webkit-appearance: none;
	width: 200px;
	height: 8px;
	background: #ddd;
	border-radius: 5px;
	outline: none;
}

.slider:hover {
	background: #ccc;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #4caf50;
	cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
	background: #45a049;
}

.current_value {
	font-size: 1.2em;
	margin-top: 20px;
	color: #333;
}

.current_value p {
	font-weight: bold;
	color: #4caf50;
}
