/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--text-dark);
  position: relative;
  height: 100%;
  background: linear-gradient(-45deg,#e0a84e,#8dba73,#b34b83);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

/* COLOR VARIABLES */
:root {
  --bg-color: #FAF9F6;
  --text-white: #FAF9F6;
  --text-dark: #001a00;
  --highlight-orange:#FA9E05;
  --hightlight-green: #4A772F;
  --hightlight-purple: #A7095C;
}

/* BACKGROUND PATTERN */
.background-pattern {
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  overflow: hidden;
  
}

.background__circle--orange,
.background__circle--green,
.background__circle--purple {
  position: absolute;
  border-radius: 50%;
  opacity: 0.97;
      
}

    .background__circle--green {
      width: 80vw;
      height: 80vw;
      background-color: var(--hightlight-green);
      top: -15vw;
      left: -10vw;
    }

      
    .background__circle--orange {
      width: 60vw;
      height: 60vw;
      background-color: var(--highlight-orange);
      top: -10vw;
      right: -10vw;
      z-index:-2; 
    }
  
    .background__circle--purple {
      width: 50vw;
      height: 50vw;
      background-color: var(--hightlight-purple);
      top: 40vw;
      right: -15vw;  
    }


/* LAYOUT */
.layout {
  max-width: 80%;
  margin: 0 auto;
  z-index: 1;
  
}

/* header */
header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

header h1 {
  font-size: 100px;
  font-weight: 500; 
 
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    /* font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
   */
}

.logo {
  height: 100px;
  gap: 10px;
}

/* main */
.new-item {
  margin-block: 2rem;
  position: relative;
}

.new-item__title {
  text-align: center;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  
}

.new-item__input-wrapper {
  position: relative;
  max-width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto; 
}

.new-item__input {
  border:none;
  background-color: transparent;
  border-bottom: 0.5px solid var(--hightlight-purple);
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.4px;
}

::placeholder {
  color: var(--hightlight-green);
}

.new-item__input:focus {
  outline:none;
}

.new-item__btn {
  position:absolute;
  right: 0;
  width: 30px;
  padding: 6px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  font-size: larger;
  font-weight: 400;
}

.new-item__btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.filter {
  position: absolute;
  right: 40px;
}
/* to do list */
h3 {
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  margin-block: 3rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.todo-card {
  border: 2px solid var(--hightlight-purple);
  background-color: rgba(245, 245, 245, 0.559);
  width: 200px;
  aspect-ratio: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:stretch;
  gap: 10px;
  border-radius: 16px;
  text-align: center;
}

.todo-card__img {
  border-radius: 8px;
  width: 100%;
  height: 130px;
  object-fit: cover; 
}

.todo-card__type {
  border: 2px solid var(--hightlight-purple);
  border-radius: 16px;
  width: 70%;
}

.btnCat {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.btnCategories {
  font-size: 15px;
  border: 2px solid var(--hightlight-purple);
  background-color: rgba(245, 245, 245, 0.559);
  border-radius: 16px;
  width: 130px;
  height: 60px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color:rgba(245, 245, 245, 0.923);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 16px;
  width: 65%;
  height: 30dvh;
}

.modal-content p {
  display: flex;
  font-size: 20px;  
  height: 100%;
  align-items: center;
}

/* The Close Button */
.close {
  color: #5d5858;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  width: 30px;
  height: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #000000;
}

@keyframes animation {
  0% {
      transform: translate3d(0,0,0);
  }
  100% {
      transform: translate3d(-50%,0,0);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* RESPONSIVE BACKGROUND PATTERN */
@media (min-width: 768px) {
  .background__circle--green {
    width: 65vw;
    height: 65vw;
    top: -15vw;
    left: -10vw;
  }

  .background__circle--orange {
    width: 65vw;
    height: 65vw;
    top: -15vw;
    right: -7.5vw;
  }

  .background__circle--purple {
    width: 40vw;
    height: 40vw;
    top: 30vw;
    right: -10vw;
  }

  /* header */
  header {
    display: block;
  }

  .logo {
    position: absolute;
    right: 35px;
    top: 30px;
    height: 120px;
  }

  /* responsive input */

  .new-item__input-wrapper {
    max-width: 50%;
      
  }

  .new-item__input {
    font-weight: 500;
    
  }

  ::placeholder {
      color:var(--text-dark);
    }

.new-item__btn {
  position: absolute;
  right: 0;
  width: 30px;
  padding: 6px;
  border: none;
  border-radius: 50%;
  font-size: larger;
  font-weight: 400;
}
    

}

@media (min-width: 1200px) {
  .background__circle--green {
    width: 50vw;
    height: 50vw;
    top: -8vw;
    left: -8vw;
  }

  .background__circle--orange {
    width: 80vw;
    height: 80vw;
    top: -45vw;
    right: -5vw;
  }

  .background__circle--purple {
    width: 35vw;
    height: 35vw;
    top: -5vw;
    right: -8vw;
  }

  /* header */
  .logo {
    position: absolute;
    right: 75px;
    top: 30px;
    height: 150px;
  }

    .new-item__input-wrapper {
      max-width: 50%;
    }


}
